nav {
  height: 50px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav--DD {
  width: 40px;
  padding-left: 30px;
  text-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  float: left;
}

.servers {
  width: 40px;
  padding-left: 30px;
  text-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  float: left;
}

.list {
  list-style: none;
}

.right-links{
  display: inline-block;
  padding: 20px;
  width: 20px;
}

